<!-- Page Title -->
<div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>Thank You!</h1>
          <p class="mb-0">
            Your message has been received. We'll get back to you as soon as possible.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container text-center">
    <a href="/" class="btn-green">Return to Home</a>
    <a href="/contact/new" class="btn-green">Send Another Message</a>
  </div>
</section>