<div class="container-xxl py-5 hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
    <h1 class="display-3 mb-3 animated slideInDown">
      Oops, An Error Occurred!
    </h1>
    <h4 class="mb-3 animated slideInDown"><%= error.message %></h4>
  </div>
</div>
